@model IEnumerable<DevnEnv16Slide09.Models.Post>
@{

}

        <h1>Index</h1>
@foreach (var post in Model)
{
    <div> @post.PostId |
        @post.Title @Html.ActionLink("go to post"+post.PostId, "details", new { id = post.PostId}) |
    @Html.ActionLink("delete", "delete", new { id = post.PostId })|
        @Html.ActionLink("edit", "edit", new { id = post.PostId })
     </div>
   
       
}

@Html.Partial("_Junk")